<div class="container-fluid">
  <div class="row border border-info border-bottom-0 align-items-center">
    <div class="col-2">
      <img class="img-thumbnail" src={{cartItem.item.imagesrc}} width=60px alt={{cartItem.item.name}}>
    </div>
    <div class="col-3">
      <p>{{cartItem.item.name}}</p>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <app-spinner [value]="cartItem.quantity" [max]="cartItem.item.available + cartItem.quantity" (valueChanged)="onValueChanged($event)"></app-spinner>
    </div>
    <div class="col-2 text-center">
      <p>{{cartItem.quantity * cartItem.item.price | currency}}</p>
    </div>
    <div class="col-1">
      <app-button [class]="btnClass" [text]="removeBtnText" (btnClick)="onButtonClick(cartItem)" title="Remove item from cart"></app-button>
    </div>
  </div>
</div>
