.inline-group {
  max-width: 8rem;
  /* width: 6rem; */
  min-width: 5rem;
  padding: .05rem;
}

.btn-minus,
.btn-plus {
  max-width: 1.2rem;
  padding: 2px;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.inline-group .form-control {
  text-align: center;
  padding: 0;
}
