<div class="container-fluid">
  <div class="row mb-1 border rounded align-items-center">
    <div class="col-2">
      <img class="img-thumbnail" src={{item.imagesrc}} width=60px alt={{item.name}}>
    </div>
    <div class="col-4">
      <p>{{item.name}}</p>
    </div>
    <div class="col-2 text-center">
      <p>{{item.available}}</p>
    </div>
    <div class="col-2">
      <p>{{item.price | currency}}</p>
    </div>
    <div class="col-2">
      <app-button [class]="btnClass" [text]="addBtnText" (btnClick)="onButtonClick(item)"></app-button>
    </div>
  </div>
</div>
