<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Please Select</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2 text-center">
      <p>Image</p>
    </div>
    <div class="col-4 text-left">
      <p>Product</p>
    </div>
    <div class="col-2 text-center">
      <p>Available</p>
    </div>
    <div class="col-2 text-left">
      <p>Price</p>
    </div>
    <div class="col-2">

    </div>
  </div>
  <div class="row" *ngFor="let item of inventory">
    <div class="col">
      <app-inventory-item [item]=item (addBtnClick)="onAddItemToCart(item)"></app-inventory-item>
    </div>
  </div>
</div>
